archive
node_modules
/.idea/encodings.xml
/.jscsrc
/.jshintrc
/test/file_content.js
/test/file_existence.js
/src/browserconfig.xml
/src/doc/
/.editorconfig
/package_gulp.json
/README.md
/package.json
/LICENSE.txt
/gulpfile.js
/CONTRIBUTING.md
/CHANGELOG.md
/.travis.yml
/src/

dist/browserconfig.xml
*.xml
*.name
*.iml
*.editorconfig
dist/LICENSE.txt
dist/robots.txt
*.md
*.htaccess
dist/humans.txt
Gruntfile.js